.message{:id => "message-#{message.id}"}
  .message-user-avatar
    .button__area
      .button__area__top
        %button.btn__channel
  .message-main-content
    .message-user-name
      .user-nickname
        = message.user.nickname
        %span.user-time 
          = message.created_at.strftime('%H:%M') 
    .message-user-content
      = simple_format(h message.message)
= javascript_pack_tag 'content'