.login__wrapper
  .header
    .header__left
      =link_to "", "/"
  .main-contaner
    .contaner__table
      %h2 ログインする
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス"
        .field
          %br/
          = f.password_field :password, autocomplete: "current-password",placeholder: "パスワード"
        - if devise_mapping.rememberable?
          .field.field-set
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "ログイン"
      = render "users/shared/links"