.forgot__wrapper
  .header
    .header__left
      =link_to "", "/messages"
  .main-contaner
    .contaner__table
      %h2 パスワードを忘れましたか？
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス"
        .actions
          = f.submit "パスワードをリセットする"
      = render "users/shared/links"